<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book finder</title>
    
    
</head>

<body style="background-image: url('https://image.freepik.com/free-photo/blurred-background-blur-bookshelves-book-store-background-education-concept_7190-15.jpg')
">
    
    <h2>Welcome to my book finder app</h2>
    <a href="/basic.html" style="text-decoration: wavy">Click here to start</a>
   
    


</body>
</html>
